/* Global */

* {
  font-family: Arial, sans-serif;
}

/* Header and nav */

h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
}

/* Main content */

p {
  font-family: Arial, sans-serif;
}

/* Forms */

form {
  margin: 10px;
}

fieldset {
  border: 0;
  padding: 0;
}

textarea {
  vertical-align: top;
}

/* Footer */
